 body {
      background-color: pink;
    }
   

    article {
      border: 2px solid white;
      background-color: rgb(255, 255, 255, 0.6);
      font-size: 20px;
      margin-left: 150px;
      margin-right: 150px;
      border-radius: 8px;
      box-shadow: 3px 3px 3px 3px orange;
      padding-left: 20px;
      padding-bottom: 50px;
      margin-top: 0px;
      padding-right: 20px;
      

    }

    h1 {
      font-family: Lucida Handwriting;
      font-size: 55px;
      text-align: center;
      margin-left:250px;
      margin-right:250px;
      
     
      border-color: white;
      background-color: orange;
      border-style: outset;
     

    }

    h2 {
      border-bottom: 3px dashed;
      font-size: 30px;
      margin-right:840px;
    }

    .h6 {

      margin-bottom: -10px;    //.h6 is used because there are many things coming under it and its to apply it to all of them.
      font-size: 19px;
      line-height: 0px;

    }
    .box {
      position: static;
      box-sizing: border-box;
    }

    .image {
      float: left;
      margin-right: 20px;
      border: 4px solid black;
      padding: 1px;
      vertical-align: top;
      line-height: 0;
      width:12.5%;
      height:10%;
    }


  


